<div id="inventory">

    <div class="header card">
        <h1>Inventory ({{state.inventory.data.length}} items)</h1>
        <span>
            <aui-input
                v-model="search_term"
                placeholder="Filter..."
            ></aui-input>
            <aui-button
                @click="state.display.add_modal = true; state.current_item = reset.current_item"
            >
                <i class="fas fa-plus"></i>
            </aui-button>
        </span>
    </div>

    <div id="items" class="" v-if="state.current_inventory">
        <div class="item card">
            <span>Type</span>
            <span>Name</span>
            <span>Quantity</span>
        </div>
        <item :item="item" v-for="item in state.current_inventory" @edit="editItem(item)"></item>
    </div>
    <div id="no-items" class="card" v-else>
        No Items
    </div>

    <aui-modal
        id="edit-item-modal"
        title="Editing"
        :show="state.display.edit_modal"
        title_classes="primary"
        :closeable="true"
        @close="state.display.edit_modal = false"
    >

        <div class="main-inputs">

            <aui-input
                    label="Name"
                    @keydown.enter="updateItem()"
                    v-model="state.current_item.name"
            ></aui-input>

            <aui-input
                    label="Quantity"
                    type="number"
                    @keydown.enter="updateItem()"
                    v-model="state.current_item.quantity"
            ></aui-input>

        </div>

        <aui-wysiwyg
            id="item-description-input"
            label="Description"
            v-model="state.current_item.description"
            :text="state.current_item.description"
        ></aui-wysiwyg>

        <div class="control">
            <span class="negative-actions">
                <aui-button type="secondary" :disabled="state.display.delete_confirm" @click="deleteConfirm()">
                    Delete
                </aui-button>
                <aui-button type="failure" v-if="state.display.delete_confirm" @click="deleteItem()">
                    Confirm
                </aui-button>
            </span>
            <span class="positive-actions">
                <span class="action-alert">
                    <span v-if="state.display.edit_item_saved" class="success">Saved</span>
                    <span v-if="!state.display.edit_item_saved">Unsaved</span>
                    <i class="fas fa-check success" v-if="state.display.edit_item_saved"></i>
                </span>
                <aui-button @click="updateItem()">
                    Save
                </aui-button>
            </span>
        </div>

    </aui-modal>

    <aui-modal
        id="add-item-modal"
        title="Editing"
        :show="state.display.add_modal"
        title_classes="primary"
        :closeable="true"
        @close="state.display.add_modal = false"
    >

        <div class="main-inputs">

            <aui-input
                label="Name"
                @keydown.enter="updateItem()"
                v-model="state.current_item.name"
            ></aui-input>

            <aui-input
                label="Quantity"
                type="number"
                @keydown.enter="updateItem()"
                v-model="state.current_item.quantity"
            ></aui-input>

        </div>

        <aui-wysiwyg
                id="item-description-input"
                label="Description"
                v-model="state.current_item.description"
                :text="state.current_item.description"
        ></aui-wysiwyg>

        <div class="control">
            <aui-button @click="addItem()">
                Add
            </aui-button>
        </div>

    </aui-modal>

</div>