<div id="welcome">
    <div id="waiting" @click="beginIntro()" v-if="state.intro_state === states.intro_state.waiting">
        <div class="">Click Anywhere To Begin</div>
    </div>
    <div id="crawl" v-if="state.intro_state === states.intro_state.crawl">
        <h3>War</h3>
        <p>
            The Dwarven kingdoms in the North have fallen to the forces of darkness. Many
            old alliances have been broken, and as long as
            <strong>the threat</strong> in the mountains remains, it grows
            ever more powerful.
        </p>
        <p>
            Recent defeats have left the kingdoms that still stand in the South shadows of
            their former glory. The southerners <strong>fear of what is to come</strong> has
            caused strife between the remaining nations. The warlord-king <strong>Markus Kroll</strong>
            has taken advantage of the chaos to expand his empire of barbarians,
            <strong>the Brotherhood</strong>.
        </p>
        <p>
            You are travelling along the king's road to the town of <strong>Elmswood</strong>
            in the kingdom of <strong>Braxton</strong>. You feel the cool dusk breeze blowing over
            the well-travelled road as if to urge you on to the town before nightfall.
            Divines willing, you will make it. You are about to push on when something, or someone,
            catches your eye...
        </p>
    </div>
    <div id="title" v-if="state.intro_state === states.intro_state.title">
        <div>Introducing</div>
        <div>Dungeons</div>
        <div>and</div>
        <div>Daemios</div>
        <aui-button @click="state.intro_state = states.intro_state.builder">Create Your Character</aui-button>
    </div>
    <div id="builder" v-if="state.intro_state === states.intro_state.builder">
        <div class="card">
            <div id="pixie">
                <div class="wings">
                    <div class="wing up right"></div>
                    <div class="wing up left"></div>
                    <div class="wing down right"></div>
                    <div class="wing down left"></div>
                </div>
                <div class="body">
                    <div class="outer-circle"></div>
                    <div class="inner-circle"></div>
                </div>
            </div>
            <div class="intro" v-if="state.builder === states.builder.intro">
                <h1>Introductions</h1>
                <p>
                    Hey! My name is <strong>Morningdew</strong>, and I'm a <strong>pixie</strong>!
                </p>
                <p>
                    I don't get out of the toadstool village much... Everything is
                    so new and wonderful! I've never seen something like you before.
                    What <strong>race</strong> are you?
                </p>
            </div>
            <div class="race" v-if="state.builder === states.builder.race">
                <h1>Race</h1>
                <div class="choices">
                    <div
                        class="choice"
                        :class="state.race === race ? 'active' : ''"
                        v-for="race in state.races"
                        @click="state.race = race"
                    >
                        {{race.name}}
                    </div>
                </div>
                <div class="breakdown" v-if="state.race">
                    <h2>{{state.race.name}}</h2>
                    <p>{{state.race.description}}</p>
                    <div class="bonuses" v-if="state.race">
                        <span v-for="effect, key in state.race.effects">
                            {{effect.pretty}}: {{effect.value >= 0 ? '+' + effect.value : effect.value}}
                        </span>
                    </div>
                </div>
                <div class="breakdown" v-else>
                    Please select a race from the list.
                </div>
            </div>
            <div class="race-response" v-if="state.builder === states.builder.race_response">
                <h1>Race</h1>

                <p>Wow! A <strong>{{state.race.name}}</strong> in my forest!</p>

                <p>
                    I've heard a lot about your people! My father once told me about a <strong>mighty warrior</strong>
                    who visited our village in the past. They were a <strong>{{state.race.name}}</strong> too! They fought up close,
                    protecting their team members from harm.
                </p>
                <p>
                    Do you fight up close like the warrior, or do you keep your distance?
                    I've heard that adventurers <strong>focus on an archetype</strong>! Is that true?
                </p>
            </div>
            <div class="archetype" v-if="state.builder === states.builder.archetype">
                <h1>Archetype</h1>
                <div class="range-choice">
                    <h2>Range</h2>
                    <div
                        class="range-option"
                        :class="state.archetype.range === range ? 'active' : ''"
                        v-for="range in state.archetypes.range"
                        @click="state.archetype.range = range"
                    >
                        <h3>{{range.name}}</h3>
                        <div class="description">
                            {{range.description}}
                        </div>
                    </div>
                </div>
                <div class="archetype-choice">
                    <h2>Role</h2>
                    <div class="choices">
                        <div
                            class="choice"
                            :class="state.archetype.role === role ? 'active' : ''"
                            v-for="role in state.archetypes.role"
                            @click="state.archetype.role = role"
                        >
                            {{role.name}}
                        </div>
                    </div>
                    <div class="role-description" v-if="state.archetype.role">
                        {{state.archetype.role.description}}
                    </div>
                    <div class="role-description" v-else>
                        Choose a role
                    </div>
                </div>
            </div>
            <div class="archetype-response" v-if="state.builder === states.builder.archetype_response">
                <h1>Archetype</h1>
                <p>
                    {{state.archetype.range.name}} / {{state.archetype.role.name}}!
                    What a smart combination! I bet you will see a lot of success with that!
                </p>
                <p>
                    Do you think you could show me some of your <strong>abilities</strong>? I would love to be able to
                    tell the story of the newest adventurer to visit our forest to the rest of my village!
                </p>
            </div>
            <div class="ability-builder" v-if="state.builder === states.builder.ability_builder">
                <h1>Ability Building</h1>
                <ability-builder></ability-builder>
            </div>
            <div class="ability-builder-response" v-if="state.builder === states.builder.ability_builder_response">
                <h1>Ability Building</h1>
                <p>
                    Amazing! You must be so proud to have such powerful abilities!
                </p>
                <p>
                    I think that's everything... oh wait! What about a <strong>Divinity</strong>? Do you serve any of
                    them? I've heard it can be a terrible burden, but the rewards can make up for it. Is it true that
                    people who serve them have <strong>special powers</strong>? Sounds like a tough choice!
                </p>
                <p>
                    How about it?
                </p>
            </div>
            <div class="divinity" v-if="state.builder === states.builder.divinity">
                <h1>A Divine Choice</h1>
            </div>
            <div class="divinity-response" v-if="state.builder === states.builder.divinity_response">
                <h1>A Divine Choice</h1>
                <p v-if=""></p>
            </div>
            <div class="finish" v-if="state.builder === states.builder.finish"></div>

            <div class="control">
                <aui-button
                        class="back btn-secondary"
                        @click="state.builder = states.builder.race"
                        :disabled="!state.race"
                        v-if="state.builder === states.builder.race_response"
                >
                    Back to Race
                </aui-button>
                <aui-button
                        class="back btn-secondary"
                        @click="state.builder = states.builder.race"
                        :disabled="!state.race"
                        v-if="state.builder === states.builder.archetype"
                >
                   Back to Race
                </aui-button>
                <aui-button
                        class="back btn-secondary"
                        @click="state.builder = states.builder.archetype"
                        :disabled="!state.race"
                        v-if="state.builder === states.builder.archetype_response"
                >
                    Back to Archetype
                </aui-button>
                <aui-button
                        class="back btn-secondary"
                        @click="state.builder = states.builder.archetype"
                        :disabled="!state.race"
                        v-if="state.builder === states.builder.divinity"
                >
                    Back to Archetype
                </aui-button>

                <aui-button
                    class="continue btn-primary"
                    @click="state.builder = states.builder.race"
                    v-if="state.builder === states.builder.intro"
                >
                    Select Race
                </aui-button>
                <aui-button
                        class="continue btn-primary"
                        @click="state.builder = states.builder.race_response"
                        :disabled="!state.race"
                        v-if="state.builder === states.builder.race"
                >
                    Confirm Race
                </aui-button>
                <aui-button
                        class="continue btn-primary"
                        @click="state.builder = states.builder.archetype"
                        :disabled="!state.race"
                        v-if="state.builder === states.builder.race_response"
                >
                    Select Archetype
                </aui-button>
                <aui-button
                        class="continue btn-primary"
                        @click="state.builder = states.builder.archetype_response"
                        :disabled="!state.archetype.role || !state.archetype.range"
                        v-if="state.builder === states.builder.archetype"
                >
                    Confirm Archetype
                </aui-button>
                <aui-button
                        class="continue btn-primary"
                        @click="state.builder = states.builder.ability_builder"
                        :disabled="false"
                        v-if="state.builder === states.builder.archetype_response"
                >
                    Build Abilities
                </aui-button>
                <aui-button
                        class="continue btn-primary"
                        @click="state.builder = states.builder.ability_builder"
                        :disabled="false"
                        v-if="state.builder === states.builder.archetype_response"
                >
                    Confirm Abilities
                </aui-button>
                <aui-button
                        class="continue btn-primary"
                        @click="state.builder = states.builder.divinity"
                        :disabled="!state.race"
                        v-if="state.builder === states.builder.ability_builder_response"
                >
                    Select Divinity
                </aui-button>
                <aui-button
                        class="continue btn-primary"
                        @click=""
                        :disabled="!state.race"
                        v-if="state.builder === states.builder.finish"
                >
                  Finish Character Build
                </aui-button>
            </div>
        </div>
    </div>
    <div id="soundtrack" v-if="true">

        <iframe src="dynamicsuite/packages/dndaemios/audio/silence.mp3" allow="autoplay" id="audio" style="display: none"></iframe>
        <audio controls id="music">
            <source
                    src="dynamicsuite/packages/dndaemios/audio/intro_music.mp3"
                    type="audio/mpeg"
            >
            Your browser does not support the audio element.
        </audio>
    </div>
</div>